@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Ascender Serif W01 Bold';
    src: url('../fonts/AscenderSerifW01Bold.woff2') format('woff2'),
         url('../fonts/AscenderSerifW01Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
